<meta charset="UTF-8">
<title>Microlife Lab</title>

<link rel="stylesheet" href="/plugins/bootstrap.css">
<script src="/plugins/bootstrap.bundle.js"></script>
<script src="/plugins/jquery.min.js"></script>
<script src="/plugins/echarts.min.js"></script>


<style>
  .dragContainer {
    height:30px; 
    width:100%; 
    -webkit-app-region: drag;
    margin-bottom: 5px;
  }
</style>

<div class="dragContainer"></div>

