<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../common/head'); %>
</head>
<body class="container bg-dark text-light">

<header>
  <%- include('../../common/header'); %>
</header>

<main>
  <div class="jumbotron bg-dark text-light">
    <h1>Willkommen</h1>
    <b>Schon erledigt: </b>
    <li>Temperatur eingebaut und beeinflusst die Wachstumsrate</li>
    <li>Feuchtigkeitsgrad beeinflusst die Bewegung der Mirkoben innerhalb der Petrischale</li>
    <li>Zeitlicher faktor ist auch eingebaut, muss aber noch verlangsamt und dementsprechend Realistisch datgestellt werden</li>
    <br>
    <b>Noch zu erledigen: </b>
    <li><b>Idee: Komplizierten parameter ersetzen durch Anzahl mikroben</b></li>
    <li><b>Zellteilung</b></li>
    <li>Mikroben sind außerhalb der Petrischale sichtbar</li>
    <li>Mutationsfaktor und Nährstoffkonzentration</li>
    <li>Andere Mikroorganismen einbauen, wenn möglich</li> 
    <li>Vergleichen des Wachstumes zwischen zwei Projekten</li>
    <li>Auslagerung Wachstumsfunktionen verschiedener Organismen</li> 
  </div>
</main>

<footer>
  <%- include('../../common/footer'); %>
</footer>

</body>
</html>