<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../common/head'); %>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
  </style>
</head>
<body class="container bg-dark text-light">

<header>
  <%- include('../../common/header'); %>
</header>

<main>
  <div class="jumbotron bg-dark text-light">
    <h1>Willkommen</h1>
    <b>Noch zu erledigen: </b>
    <li><b>Idee: Anzahl Mikroben (nMikroben beim Start der Simulation)</b></li>
    <li>Mikrobensterben</li>
    <li>Vergleichen des Wachstumes zwischen zwei Projekten</li>
    <li>Mutationswarscheinlichkeit überarbeiten (Plausibilität, Farben...)</li>
    <li>Bilder ändern je nach Mikroorganismus in der Projektansicht</li>
  </div>
</main>

<footer>
  <%- include('../../common/footer'); %>
</footer>

</body>
</html>