<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../common/head'); %>
  <style>
    body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    }
    #canvas-container {
        display: inline-block;
        margin-top: 20px;
    }
    input[type=range] {
        width: 200px;
    }
    label {
        margin-right: 2px;
    }
    div {
        margin: 10px;
    }
      #graphContainer {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td {
            text-align: center;
            position: relative;
            width: 50px; 
        }
        td::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 2px;
            background-color: rgb(255, 255, 255); 
            z-index: -1;
        }
        .marker {
            position: relative;
            z-index: 1;
        }
        .controls {
            margin: auto;
            display: block;
        }
        .cursor {
            background-color: rgb(255, 255, 255); 
            width: 5%; 
            height: 20px; 
            display: block;
            margin: auto;
            border-radius: 5px; 
        }
  </style>
</head>
<body class="container bg-dark text-light">

<header>
  <%- include('header'); %>
</header>


<main>
  

  
  </div>
</div>


  <script src="/js/simulation.js"></script>
  <button id="btnChart" type="button" class="btn btn-lg btn-primary" disabled>Chart</button>
  <div id="graphContainer"></div>
  <div id="canvas-container"></div>
</main>



<footer>
  <%- include('../../common/footer'); %>
</footer>

</body>
</html>