<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../common/head'); %>
    <style>
    </style>
</head>
<body class="container bg-dark text-light">

<header>
  <%- include('header'); %>
</header>

<main>
<script src="/js/chart.js"></script>
    <div id="main" style="width: 1100px; height:600px;"></div>
</main>

<footer>
</footer>
<body>
<html>
